body {
    font-family: 'Playfair Display', serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #161616;
}

header {
    text-align: center;
    padding: 50px 0;
    /*background-color: #0f0f0f;*/
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 4.5em;
    margin: 0;
    color: #ffffff;
}

h2 {
    font-size: 2.5em;
    margin: 10px 0 0 0;
    color: #dddddd;
}

main {
    display: flex;
    flex-direction: column; /* Add this line */
    align-items: center;    /* This centers the sections horizontally */
    /*justify-content: space-between;*/
    padding: 30px 15%;
    /*background-color: #0f0f0f;*/
}

.portfolio-section {
    flex: 1;
    margin: 0 20px;
    background-color: #0e0e0e;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Added rounded corners */

    max-width: 100%;  /* This is the default width for laptops. Adjust as needed. */
    width: 100%;  /* This ensures the section takes the full width up to the max-width limit */
}

/* Adjust width for tablets (typical iPad landscape and portrait resolutions) */
@media (min-width: 600px) and (max-width: 1024px) { 
    .portfolio-section {
        max-width: 90%;  /* Adjust this value based on your preference for iPad */
    }
}

/* Adjust width for phones */
@media (max-width: 599px) {
    .portfolio-section {
        max-width: 99%;  /* Adjust this value based on your preference for phones. Making it 95% gives a small margin on the sides. */
    }
}



h3 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #e9e9e9;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;


    border-radius: 10px;  /* Rounded corners for the grid */
    overflow: hidden;  /* This ensures inner content also adheres to the border-radius */
    padding: 10px;  /* Padding ensures the inner images don't touch the edge */
}

/* Use a media query to adjust for larger screens */
@media (min-width: 768px) { /* This is a common breakpoint for tablets and above */
    .grid {
        grid-template-columns: repeat(3, 1fr); /* Adjust to 3 columns for larger screens */
    }
}

.grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
}

.grid img:hover {
    transform: scale(1.05);
}
